dl.dl-horizontal dt {
	width: 90px;
}

dl.dl-horizontal dd {
	margin-left: 100px;
}

.week:after {
	content: '\00a0';
}

.date:after {
	content: '\00a0\00a0';
}

.theme-title {
	padding-right: 10px;
	font-weight: normal;
}

.panel-default .panel-heading {
	background-color: #eee;
}

.target {
	color: #999;
	font-weight: normal;
	font-style: italic;
	font-size: 90%;
	margin-bottom: 0;
}

.tags {
	padding-top: 10px;
	color: #999;
}

.tag {
	background-color: #bbb;
	margin-right: 3px;
	font-weight: normal;
	font-style: italic;
}

.panel-primary a .panel-title {
	color: #fff;
	font-weight: bold;
}

.panel-primary a:hover .panel-title,
.panel-primary a:focus .panel-title {
  color: #fff;
  text-decoration: underline;
}

.downloads .btn {
	margin-bottom: 2px;
}

.divider {
	margin-top: 8px;
	margin-bottom: 8px;
	border-top: 1px dashed #ccc;
}